<mat-sidenav-container class="nav-container">
  <mat-sidenav
    #sidenav
    class="sidenav"
    mode="side"
    closed
    fixedInViewport="true"
    fixedTopGap="100"
  >
    <!-- mode=side -> para a nav ficar na lateral
       closed -> para fechada e apenas ficar visível se clicar nela
       fixedTopGap -> espaçamento entre ele e o topo-->

    <mat-list class="mat-list">
      <a mat-list-item routerLink="/">
        <i class="material-icons">home</i>
        Home
      </a>
      <a mat-list-item href="">
        <i class="material-icons">redeem</i>
        Produtos </a
      ><a mat-list-item href="">
        <i class="material-icons">connect_without_contact</i>
        Contato
      </a>
    </mat-list>
  </mat-sidenav>
  <mat-sidenav-content class="content">
    <button mat-icon-button (click)="sidenav.toggle()" class="mat-nav-button">
      <i class="material-icons">menu</i>
    </button>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
