.mat-card-main {
  background-color: purple;
  color: #f2f2f2;
}

.mat-card-product.isValid {
  display: none;
}

.mat-card-product:hover {
  background-color: #f2f2f2;
}

.mat-card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.actions-container {
  display: flex;
  margin-top: 15px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.excludeAll {
  margin-left: 10px;
}

.input-form {
  width: 300px;
  margin: 10px 15px;
}

.mat-cancel {
  background-color: red;
  color: #f2f2f2;
}

.selected {
  margin: 0 15px;
}
