.mat-card-main {
  background-color: purple;
  color: #f2f2f2;
}

.mat-card-product.isValid {
  display: none;
}

.mat-card-product:hover {
  background-color: #f2f2f2;
}

.mat-card-content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-between;
  align-items: center;
}

.actions-container {
  display: flex;
  margin-top: 15px;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

.excludeAll {
  margin-left: 10px;
}

.input-form {
  width: 300px;
  margin: 10px 15px;
}

#empty-cart {
  background-color: rgb(159, 25, 177);
  color: #f2f2f2;
  margin: 10 15px;
}

#empty-cart .text-add {
  display: none;
  position: absolute;
  bottom: 35%;
  left: 80%;
  background-color: rgb(153, 180, 216);
  color: black;
  padding: 0.5rem;
  border-radius: 4px;
}

#empty-cart:hover .text-add {
  display: block;
}

#mat-pay {
  background-color: rgb(158, 194, 209);
  color: #f2f2f2;
  margin: 10 15px;
}

#mat-cancel {
  background-color: rgb(159, 25, 177);
  color: #f2f2f2;
  margin: 10 15px;
}

.selected {
  margin: 0 15px;
}

.add-cart {
  background-color: rgb(173, 127, 173);
  color: #f2f2f2;
}
