<mat-card-content
  class="mat-card-container"
  *ngFor="let product of listProducts"
>
  <mat-card class="card-product">
    <mat-card-title
      ><h2>{{ product.name }}</h2></mat-card-title
    >
    <mat-card-subtitle
      ><h3>{{ product.category }}</h3></mat-card-subtitle
    >
    <mat-card-content class="card-content">
      <img src="{{ product.img }}" alt="capa" />
      <p class="card-description">{{ product.descricao }}</p>
      <p class="card-description">{{ product.price | currency: "BRL" }}</p>
      <app-select-button (click)="selectProduct(product)"></app-select-button>
    </mat-card-content>
  </mat-card>
</mat-card-content>
